@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

$forecastColor: #3181C3;

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

#svgContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;

    #static {
        #background {
            rect {
                stroke: none;
                fill: url(#lgrad);
            }
        }

        .divider {
            stroke: rgba(255,255,255,0.4);
            stroke-width: 1px;
        }

        .axis {
            stroke: rgba(255,255,255,0.4);
            stroke-width: 2px;
        }
    }

    #timeScale {
        .day {
            alignment-baseline: middle;
            font-family: 'Noto Sans';
            font-size: 10px;
            fill: white;
            text {
                text-anchor: middle;
                fill: rgba(255,255,255,0.8);
            }
        }

        .ruler-marks {
            stroke: rgba(255,255,255,0.3);
            stroke-width: 1px;
        }
    }

    #today {
        stroke: rgba(255,255,255,0.4);
        stroke-width: 1px;

        .today-footprint {
            fill: url("#footprint-gradient");
            stroke: none;
        }
    }

    #graphics {
        .quoteDay {
            .hoverRect {
                fill: white;
                opacity: 0;
            }

            &.hovered .hoverRect {
                opacity: 0.1;
            }

            line {
                stroke-width: 2px;
                /*filter: url("#gauss-blur");*/

                &.oil {
                    stroke: #7b6b8a;
                }

                &.dollar {
                    stroke: #179ac5;
                }

                &.euro {
                    stroke: #7b37bd;
                }
            }

            .boobie {
                fill:white;
                stroke-width:4;
                display: none;

                &.oil-boobie {
                    stroke:#7b6b8a;
                }

                &.dollar-boobie {
                    stroke:#179ac5;
                }

                &.euro-boobie {
                    stroke:#7b37bd;
                }
            }

            &.hovered .boobie, &.today .boobie {
                display: block;
            }
        }        

        .grid-bg {
            fill: rgba(255, 255, 255, 0.05);
        }
    }


    .forecast {
        cursor: pointer;

        line, path {
            opacity: 0.6;
            stroke: $forecastColor;
            stroke-width: 2;
            fill: none;
        }

        .photo {
            circle {
                stroke: rgba(100, 181, 246, 0.6);
                stroke-width: 2;
            }
        }

        &.hovered {
            line, path {
                opacity: 1;
            }

            .photo {
                circle {
                    stroke: rgba(100, 181, 246, 1);
                    stroke-width: 2;
                }
            }
        }
    }
}


.forecastBubble {
    position: absolute;
    width: 170px;

    background: rgba(255, 255, 255, 0.1);
    padding: 15px 10px;
    color: white;
    display: none;
    font-size: 12px;

    .date {
        position: absolute;
        right: 10px;
        top: 15px;
        font-size: 10px;
    }

    .name {
        position: absolute;
        left: 10px;
        top: 15px;
        font-size: 10px;
    }

    .shortCite {
        position: relative;
        margin-top: 20px;
    }
}