/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-photo_3 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 37px;
  height: 37px;
}
.icon-photo_4 {
  background-image: url(sprite.png);
  background-position: -37px 0px;
  width: 37px;
  height: 37px;
}
.icon-photo_5 {
  background-image: url(sprite.png);
  background-position: 0px -37px;
  width: 37px;
  height: 37px;
}
.icon-photo_6 {
  background-image: url(sprite.png);
  background-position: -37px -37px;
  width: 37px;
  height: 37px;
}
.icon-photo_7 {
  background-image: url(sprite.png);
  background-position: -74px 0px;
  width: 37px;
  height: 37px;
}
