<div>

    <form class="form-inline" name="form">
        <div class="form-group">
            <label class="sr-only" for="src-name">Название</label>
            <input type="text" ng-model="toAdd.name" required class="form-control" id="src-name" placeholder="Название">
        </div>
        <div class="form-group">
            <label class="sr-only" for="src-webcite">Вебсайт</label>
            <input type="url" ng-model="toAdd.website" class="form-control" id="src-webcite" placeholder="Вебсайт">
        </div>
        <button type="submit" class="btn btn-default" ng-click="addItem(toAdd)" ng-disabled="!form.$valid">Добавить</button>
    </form>

    <table class="table table-stripped table-hover table-clickable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Вебсайт</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="src in citationSources" 
                ng-click="selectItem(src)" 
                ng-class="{active: isActive(src)}">
                <td>{{src.id}}</td>
                <td>
                    <span ng-show="!isInEditMode() || !isActive(src)">{{src.name}}</span>
                    <input ng-show="isActive(src) && isInEditMode()" type="text" class="form-control" ng-model="src.name" required placeholder="Название" />
                </td>
                <td>
                    <a ng-show="!isInEditMode() || !isActive(src)" ng-href="{{src.website}}" target="_blank">{{src.website}}</a>
                    <input ng-show="isActive(src) && isInEditMode()" type="url" ng-model="src.website" class="form-control" placeholder="Вебсайт">
                </td>
                <td>
                    <button class="btn btn-xs btn-warning" ng-show="isActive(src) && isInNormalMode()" ng-click="toggleEditMode(src)">Редактировать</button>
                    <button class="btn btn-xs btn-danger" ng-show="isActive(src) && isInNormalMode()" ng-click="toggleDeleteMode(src)">Удалить</button>

                    <button class="btn btn-xs btn-success" ng-show="isActive(src) && isInEditMode()" ng-click="editItem(src)">Сохранить</button>
                    <button class="btn btn-xs btn-default" ng-show="isActive(src) && isInEditMode()" ng-click="toggleEditMode()">Отмена</button>

                    <button class="btn btn-xs btn-danger" ng-show="isActive(src) && isInDeleteMode()" ng-click="deleteItem(src)">Удалить</button>
                    <button class="btn btn-xs btn-default" ng-show="isActive(src) && isInDeleteMode()" ng-click="toggleDeleteMode()">Отмена</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>